<!-- navbar -->
<nav class="navbar">
  <h1 class="brand">PORTFOLIO</h1>
  <ul class="link-group">
    <li class="link active" id="home-link"><a href="/">home</a></li>
    <li class="link" id="about-link"><a href="/about">about</a></li>
    <li class="link" id="projects-link"><a href="/projects">projects</a></li>
    <li class="link" id="contact-link"><a href="/contact">contact</a></li>
    <li class="link" id="login-link"><a href="/login">login</a></li>
  </ul>
</nav>
