<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href="/stylesheets/about.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>

<!-- navbar -->
<%- include('partials/navbar') %>

<!-- home section -->
<div class="about">
    <p>
        Hello, I'm Kristian!, proudly hailing from the beautiful city of Trondheim. My passion<br> 
        lies in backend programming, with a particular fondness for JavaScript. My journey into<br> 
        programming began as a self-taught enthusiast, delving into the intricacies of JavaScript<br>
        to hone my skills.<br>
        <br>
        To formalize and deepen my understanding, I dedicated a year to studying backend<br>
        development at Noroff, a vocational education at a higher education level.<br> 
        This immersive experience significantly enriched my knowledge<br>
        and provided a structured foundation for my programming endeavors.<br>
        <br>
        Beyond the screen, I find joy in staying active—whether it's working out, strolling<br>
        through the serene forest, or embracing the tranquility of camping. Time with friends<br>
        and family is invaluable to me, offering a perfect balance to my tech-centric pursuits. <br>
        <br>
        In the ever-evolving realm of backend development, I'm committed to continuous <br>
        learning, always striving to stay ahead of the curve. Self-development is a constant<br>
        pursuit as I aspire to be not just a backend developer but a proficient and innovative<br>
        one.<br>
        <br>
        Let's code and explore the backend together!
    </p>
</div>

<img src="images/download.jpg" class="me" alt="">

</body>
</html>
