<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>

<!-- navbar -->
<%- include('partials/navbar') %>

<!-- home section -->
<section class="home-section active">
  <div class="hero-heading">
    <h1>Hi! I'm</h1>
    <h2>BACKEND</h2>
    <br>
    <h3>DEVELOPER</h3>
    <!-- Create a container for the introduction text -->
    <div class="introduction-container">
      <p class="introduction">Greetings! I'm a passionate and detail-oriented backend developer.<br> 
        I find joy in transforming innovative ideas into robust and scalable solutions.<br> 
        My coding journey is not just a career but a continuous exploration of possibilities.</p>
    </div>
  </div>
  <img src="images/imgme.jpg" class="home-img" alt="">
</section>

</body>
</html>
