.about {
    display: flex;
    font-family: Arial;
    font-size: 15px;
    color: #bababa;
    margin-top: 160px;
    margin-left: 200px;
    position: relative;
}
  
.about::before,
.about::after {
    content: "";
    display: block;
    height: 2px; /* Adjust the thickness of the line */
    background: linear-gradient(to right, orange, black);
    position: absolute;
    left: 0;
    width: 400px; /* Adjust the width of the line */
}

.about::before {
    bottom: 490px; /* Adjust the distance from the text */
}

.about::after {
    bottom: 0px; /* Adjust the distance from the text */
}

/* Image styling */
.me {
    position: absolute; 
    bottom: 40px;
    right: 15%;
    height: 88%;
    width: auto;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s; /* Adding transition for smooth effects */
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}